version: "3.9"

services:

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - bookstore-network


  user-service:
    build: ./user-service
    container_name: user-service
    restart: always
    ports:
      - "5002:5002"
    environment:
      - PORT=5002
      - MONGO_URI=${MONGO_URI}
      - RABBITMQ_URL=amqp://rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - bookstore-network


  catalog-service:
    build: ./catalog-service
    container_name: catalog-service
    restart: always
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - MONGO_URI=${MONGO_URI}
      - RABBITMQ_URL=amqp://rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
      user-service:
        condition: service_started
    networks:
      - bookstore-network


  notification-service:
    build: ./notification-service
    container_name: notification-service
    restart: always
    ports:
      - "5003:5003"
    environment:
      - PORT=5003
      - MONGO_URI=${MONGO_URI}
      - RABBITMQ_URL=amqp://rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - bookstore-network

  frontend:
    build: ./frontend
    container_name: bookstore-frontend
    ports:
      - "3000:80"
    depends_on:
      user-service:
        condition: service_started
      catalog-service:
        condition: service_started
      notification-service:
        condition: service_started
    networks:
      - bookstore-network

networks:
  bookstore-network:
    driver: bridge

